<section class="option-choose">
    <div class="container">
        <h1 class="text-center">Select Your Choice</h1>
        <div class="row">
            <div class="col-6">
                <a class="btn btn-outline-warning" asp-controller="Order" asp-action="CreateOrder">
                    Create Order
                </a>
            </div>
            <div class="col-6">
                <a class="btn btn-outline-primary" asp-controller="Order" asp-action="Index">
                    List Of Orders
                </a>
            </div>
        </div>
    </div>
</section>